CMakeLists.txt
.idea/NGram.iml
cmake-build-debug/NGram.cbp
cmake-build-debug/CMakeFiles/NGram.dir/build.make
cmake-build-debug/CMakeFiles/NGram.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/NGram.dir/depend.make
cmake-build-debug/CMakeFiles/NGram.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/NGram.dir/flags.make
cmake-build-debug/CMakeFiles/NGram.dir/link.txt
cmake-build-debug/CMakeFiles/NGram.dir/progress.make
cmake-build-debug/TestNGram
cmake-build-debug/CMakeFiles/NGram.dir/cmake_clean_target.cmake
cmake-build-debug/CMakeFiles/TestNGram.dir/build.make
cmake-build-debug/CMakeFiles/TestNGram.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/TestNGram.dir/depend.make
cmake-build-debug/CMakeFiles/TestNGram.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/TestNGram.dir/flags.make
cmake-build-debug/CMakeFiles/TestNGram.dir/link.txt
cmake-build-debug/CMakeFiles/TestNGram.dir/progress.make
cmake-build-debug/CMakeFiles/3.12.3/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.12.3/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.12.3/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.12.3/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.12.3/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.12.3/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.12.3/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.12.3/CompilerIdCXX/a.out
cmake-build-debug/CMakeFiles/3.12.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/TestNGram.dir/CXX.includecache
cmake-build-debug/CMakeFiles/TestNGram.dir/depend.internal
cmake-build-debug/CMakeFiles/TestNGram.dir/TestNGram.cpp.o
.idea/encodings.xml
cmake-build-debug/libNGram.a
cmake-build-debug/CMakeFiles/3.13.2/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.13.2/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.13.2/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.13.2/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.13.2/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.13.2/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.13.2/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.13.2/CompilerIdCXX/a.out
cmake-build-debug/CMakeFiles/3.13.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/NGram.dir/CXX.includecache
cmake-build-debug/CMakeFiles/NGram.dir/depend.internal
cmake-build-debug/CMakeFiles/NGram.dir/TestNGram.cpp.o
